<% @albums.each do |ab| %>
  <div class="album-thumbnail col-xs-6 col-md-5">

    <%= link_to ab, :class => "thumbnail" do %>
      <%= image_tag url_for(:controller => "pictures", :action => "show", :id => ab.pictures.first.id), size: "350" %>
      <p class="album-title"><%= ab.title %></p>
    <% end %>

  </div>
<% end %>
