<h1><%= @album.title %></h1>
<% @album.pictures.each do |p| %>
  <div class="thumbnail col-xs-6 col-md-5">

    <%= link_to (image_tag url_for(:controller => "pictures", :action => "show", :id => p.id), size: "350"), url_for(:controller => "pictures", :action => "show", :id => p.id), class: "fancybox"  %>

  </div>
<% end %>




