<footer class="footer">
  <small>
    Created by <a href="https://www.facebook.com/baotrungtn">Alan Sparrow</a>
  </small>

  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

</footer>
