<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <div id="logo-div">
	<%= link_to "jame's garage", root_path, id: "logo" %>
      </div>
    </div>
  </div>
</header>
